@font-face{
  font-family: "Raleway";
  src: url(fonts/Raleway-VariableFont_wght.ttf) format(truetype);
}
@font-face {
  font-family: "Merriweather";
  src: url(fonts/Merriweather-Regular.ttf);
}
@font-face {
  font-family: "Exo 2";
  src: url(fonts/Exo2-VariableFont_wght.ttf);
}
body{
  font-family: "Raleway";
  color: #686565;
  margin: 0;
}

.head-picture{
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/oslo-skyline-modern-city-architecture-buildings-new-bjorvika-district-norway.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 750px;
}
.logo{
  position:sticky;
width: 186px;
height: 47.31px;
margin-left: 25px;
top: 36px;
}
.menu-container{
position: sticky;
width: 100%;
height: 95px;
left: 0px;
top: 0px;
background: rgba(255, 252, 252, 0.75);
  font-size: 25px;
  padding-top: 0;

}
.header{
  display: flex;
flex-wrap: wrap;
gap: 10px;
justify-content: space-around;
vertical-align: top;
margin-top: 1px;
padding-top: 0;
}

.header ul,
.languages{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
font-weight: 600;
font-size: 25px;
color: #686565;
vertical-align: top;

}
.menu a{
  padding: 0.5rem 1rem;
  text-decoration: none;
  vertical-align: top;
}
.menu{
  margin-left: 140px;
}
.languages{
  margin-top: 0;
  padding-top: 0;
  justify-content: flex-end;

}
.NO,
.EN,
.ES{
  margin: 0;
  padding: 0;
}