@font-face{
  font-family: "Raleway";
  src: url(fonts/Raleway-VariableFont_wght.ttf) format(truetype);
}
@font-face {
  font-family: "Merriweather";
  src: url(fonts/Merriweather-Regular.ttf);
}
@font-face {
  font-family: "Exo 2";
  src: url(fonts/Exo2-VariableFont_wght.ttf);
}
body{
  font-family: "Raleway";
  color: #686565;
  margin: 0;
}

.head-picture{
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url(images/oslo-skyline-modern-city-architecture-buildings-new-bjorvika-district-norway.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  height: 100vh;
  margin-bottom: 40px;
}
.logo{
  position:sticky;
width: 186px;
height: 47.31px;
margin-left: 30px;
top: 36px;
}
.menu-container{
position: sticky;
width: 100%;
height: 105px;
top: 0px;
background: rgba(255, 252, 252, 75%);
  font-size: 25px;
  padding-top: 0;

}
.header{
  display: flex;
flex-wrap: wrap;
justify-content: space-between;
vertical-align: top;
padding-top: 20px;
}

.header ul,
.languages{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
font-weight: 400;
font-size: 25px;

vertical-align: top;

}
.menu a{
  padding: 3rem 1rem;
  text-decoration: none;
  vertical-align: top;
  color: #686565;

}
.menu{
  margin-left: 40px;
  padding-top: 15px;
}
.menu ul{
  gap: 50px;
}
.languages{
  margin-top: 0;
  justify-content: flex-end;
  padding-top: 15px;
  margin-right: 60px;
 

}
.NO,
.EN,
.ES{
  margin: 0;
  padding: 0; 
}
.NO a,
.EN a,
.ES a{
  color: white;
  text-decoration: none;
  list-style: none; 
  font-weight: 500;
}
.languages a:hover{
  color:#F9933E;
}
.NO a,
.EN a{
  padding-right: 5px;
  border-right: solid 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-color: #1F73B3;
}
.EN a,
.ES a{
  padding-left: 5px;
}
.menu a:hover{
  color: #F9933E;
}
.accuracy{
  font-family: "Exo 2";
  font-weight: 450;
  text-align: center;
  color: #1F73B3;
}
.line14{
  width: 40%;
  color: #F9933E;
}
.main-text{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 20px;
  text-align: center;
}
.accountant{
  background-image: url(images/working-business-lady.jpg);
  background-repeat: no-repeat;
  height: 560px;
  background-size: cover;
}